<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom messanger</title>
    <script src="https://kit.fontawesome.com/d5bbee0d11.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <!--    libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    end libs for stomp and sockjs-->

    <link th:href="@{/styles/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="../static/js/styleHelper.js" defer></script>
</head>
<body>
<div class="header">
    <div class="search-wrapper">
        <input type="text" id="userSearchInput" class="search-input" placeholder="Search user...">
        <div id="search-list-div" class="search-list">
            <ul id="search-list">
                <li>Menu item 1</li>
                <li onclick="$('#search-list-div').hide();">Menu item 2</li>
                <li>Menu item 2</li>
                <li>Menu item 2</li>
                <li>Menu item 2</li>
                <li>Menu item 2</li>
                <li>Menu item 2</li>
                <li>Menu item 2</li>
            </ul>
        </div>
    </div>
    <div class="user-profile" id="object">
        <img src="../static/img/user-icon.png" alt="User Icon" class="user-icon">
        <span class="username" id="userName">n1kry</span>
        <div id="menu" class="menu">
            <ul>
                <li>Menu item 1</li>
                <li>Menu item 2</li>
                <li class="log-out"><i class="fa-solid fa-door-open" style="width: 10px; margin-right: 10px"></i>Log Out
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="row">
        <div class="col-md-4">
            <div class="people-list">
                <div class="search">
                    <button class="btn btn-info" id="refreshBtn" onclick="fetchKnown()"><i
                            class="fa-solid fa-arrow-rotate-right"></i></button>
                </div>
                <ul class="list-group" id="usersList">
                    <a href="#" onclick="selectUser('n1kry')">
                        <li class="list-group-item list-group-item-action mb-2 clearfix" data-toggle="list">
                            <div class="about">
                                <div id="userNameAppender_n1kry" class="name">n1kry</div>
                                <div class="status">
                                    <i class="fa fa-circle offline"></i>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="#" onclick="selectUser('crme029')">
                        <li class="list-group-item list-group-item-action mb-2 clearfix" data-toggle="list">
                            <div class="about">
                                <div id="userNameAppender_crme029" class="name">crme029</div>
                                <div class="status">
                                    <i class="fa fa-circle offline"></i>
                                </div>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="chat">
                <div class="chat-header clearfix">
                    <link rel="icon" height="55px"
                          href="img/default-user-image.png"
                          width="55px"/>

                    <div class="chat-about">
                        <div class="chat-with" id="selectedUserId"></div>
                        <div class="chat-num-messages"></div>
                    </div>
                </div> <!-- end chat-header -->
                <div class="chat-history" id="chat">
                    <ul class="list-unstyled" id="chat-history">
                        <li>
                            <div class="message-data">
                                <span class="message-data-name"><i class="fa fa-circle online"></i> n1kry2</span>
                                <span class="message-data-time">2:55 PM, Today</span>
                            </div>
                            <div class="message my-message">
                                hifg fdgfd g gfdf g
                                авыпаывпыпыпыпывпыпваыаывыпыав
                            </div>
                        </li>

                        <li class="clearfix">
                            <div class="message-data align-right">
                                <span class="message-data-time">2:55 PM, Today</span> &nbsp; &nbsp;
                                <span class="message-data-name">You</span> <i class="fa fa-circle me"></i>
                            </div>
                            <div class="message other-message float-right">
                                hi

                            </div>
                        </li>
                    </ul>
                </div> <!-- end chat-history -->
                <div class="chat-message clearfix">
                    <textarea class="form-control" id="message-to-send" name="message-to-send"
                              placeholder="Type your message" rows="3"></textarea>
                    <button id="sendBtn" class="btn btn-primary">Send</button>
                </div> <!-- end chat-message -->
            </div> <!-- end chat -->
        </div>
    </div>
</div> <!-- end container -->

<script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time">{{time}}, Today</span> &nbsp; &nbsp;
            <span class="message-data-name">You</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{messageOutput}}
        </div>
    </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> {{userName}}</span>
            <span class="message-data-time">{{time}}, Today</span>
        </div>
        <div class="message my-message">
            {{response}}
        </div>
    </li>
</script>

<script type="text/javascript" th:src="@{/js/custom.js}"></script>
<script type="text/javascript" th:src="@{/js/chat.js}"></script>
<script type="text/javascript" th:src="@{/js/styleHelper.js}"></script>
<script>
    $(document).ready(function () {
        $("#object").mouseenter(function () {
            var menu = $("#menu");
            menu.show();
            var objectOffset = $(this).offset();
            menu.css({
                top: objectOffset.top + $(this).outerHeight() + "px",
                left: objectOffset.left + "px"
            });
        }).mouseleave(function () {
            $("#menu").hide();
        });
    });

    let list;

    $(document).ready(function () {
        $(".log-out").click(function () {
            window.location.href = "chat/logout";
        });

        $("#userSearchInput").focusin(function () {
            let menu = $("#search-list-div");
            menu.show();

            let objectOffset = $(this).offset();
            menu.css({
                top: objectOffset.top + $(this).outerHeight() + "px",
            });
        })
        $(document).on('click', function (e) {
            if (!$(e.target).closest('#userSearchInput, #search-list-div').length) {
                $('#search-list-div').hide();
            }
        });

        $('#search-list').on('click', 'li', function () {
            $('#search-list-div').hide();
        });

        $('#userSearchInput').on('input', function () {

            const searchTerm = $(this).val(); // Получение текста из поля поиска

            if (searchTerm.length > 2) {
                $.get(url + "/fetchallusers?searchTerm=" + searchTerm, function (response) {
                    list = response;
                    console.log('List', list)
                }).done(function () {
                    $('#search-list-div').show();

                    let usersListTemplate = '';
                    console.log('Filtered', list)

                    for (let i = 0; i < list.length; i++) {
                        usersListTemplate = usersListTemplate + '<a href="#" onclick="writeToUser(\'' + list[i].id + '\')"><li data-toggle="list">' + list[i].username + '</li></a>';
                    }

                    $('#search-list').html(usersListTemplate);
                });
            } else {
                $('#search-list-div').hide();
            }
        });
    });
</script>
</body>
</html>