@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
}

.container {
    margin: 0 auto;
    width: 70%;
    background: #444753;
    border-radius: 5px;
}

.people-list {
    width: 20%;
    float: left;
}

.people-list .search {
    padding: 20px;
}

.people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: #e1e1e1;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}

.people-list .fa-search {
    position: relative;
    left: -25px;
}

.people-list ul {
    padding: 0;
    /*height: 770px;*/
}

.people-list ul li {
    padding: 1px 1px 20px;
    background-color: #444753;
}

.people-list ul li.selected {
    background-color: #3a3d46;
    box-shadow: inset 0 -2px 0 0 #94c2ed;
    border-radius: 5px;
}

.people-list ul li:hover {
    color: #a2c3ff;
    background-color: #70768a;
}

a {
    color: white;
}

.people-list img {
    float: left;
}

.people-list .about {
    float: left;
    margin-top: 8px;
}

.people-list .about {
    padding-left: 8px;
}

.people-list .status {
    color: #92959E;
}

.chat {
    width: 80%;
    float: left;
    background: #3f424c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid #444753;
}

.chat .chat-header img {
    float: left;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959E;
}

.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.chat .chat-history {
    padding: 20px 30px 20px 30px;
    border-bottom: 2px solid #444753;
    overflow-y: scroll;
    height: 575px;

}

.chat .chat-history .message-data {
    font-weight: bold;
    margin-bottom: 3px;
}

.chat .chat-history .message-data-time {
    font-size: 10px;
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: white;
    padding: 8px 16px;
    line-height: 26px;
    font-size: 14px;
    border-radius: 7px;
    margin-bottom: 3px;
    width: fit-content;
    position: relative;
    word-wrap: break-word;
    max-width: 60%;
}

.chat .chat-history .message:after {
    top: 0;
    left: 0;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #86BB71;
}

.chat .chat-history .my-message {
    background: #86BB71;
}

.chat .chat-history .other-message {
    background: #94C2ED;
}

.chat .chat-history .other-message:after {
    border-top-color: #94C2ED;
    left: 100%;
}

.chat .chat-history::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.chat .chat-history::-webkit-scrollbar-track {
    background: #444753;
}

/* Handle */
.chat .chat-history::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #94c2ed;
}

/* Handle on hover */
.chat .chat-history::-webkit-scrollbar-thumb:hover {
    background: #82a6c7;
}

.chat .chat-message {
    padding: 30px;
}

.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    background-color: #f1f1f1;
}

.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #3f424c;
    padding: 0;
}

.chat .chat-message button:hover {
    color: #75b1e8;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #444753;
    padding: 10px;
    margin-bottom: 10px;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 10px;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.username {
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}